body {
    background: lightblue;
    color:white;
    font-size:16px;
    font family: Cambria, Cochin, serif;
}
#container {
    background:rgb(231, 115, 115);
    width: 90%;
    margin:0 auto;
}
article {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom:10px;
}
header, footer{
    background: rgb(12, 134, 134);
}
header {
    
    padding:10px 5px;
    margin-bottom:10px; 
}

th {
    border: 1px solid #ddd;
    padding: 8px;
}
tr {background-color: lightblue ;}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(12, 134, 134);
    color: white;
}
p{
    font-family: 'Krub', sans-serif;
}
